{
  "*.{js,jsx}": ["prettier --write", "eslint --fix --quiet --config .eslintrc.json --resolve-plugins-relative-to ."],
  "*.{ts,tsx}": ["prettier --write", "eslint --fix --quiet --config .eslintrc.json --resolve-plugins-relative-to ."],
  "*.{scss,scss,css,md,html,json}": ["prettier --write"]
}