@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #000000;
  /* overflow-x: scroll; */
}

.logo-image {
  height: 35px;
}

.image{
  height: 500px;
  width: 500px;
}

.button {
  box-shadow: 0 5px 0 #12b42a;
}

.button:active {
  box-shadow: none;
  transform: translateY(5px);
}

.blue-glassmorphism {
  background: rgb(39, 51, 89, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.white-glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.gradient-bg-welcome {
  background-color: #000000;
  background-image: 
    /* radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%),  */ radial-gradient(
      at 50% 0%,
      rgb(47, 106, 88) 0,
      transparent 50%
    ),
    radial-gradient(at 100% 0%, rgb(16, 15, 15) 0, transparent 50%);
}

.gradient-bg-process {
  background-color: #000000;
  background-image: radial-gradient(at 0% 0%, rgb(0, 0, 0) 0, transparent 50%),
    radial-gradient(at 50% 100%, rgb(39, 89, 61) 0, transparent 50%);
}

.gradient-bg-description {
  background-color: #000000;
  background-image: radial-gradient(at 0% 100%, rgb(0, 0, 0) 0, transparent 50%),
    radial-gradient(at 50% 0%, rgb(39, 89, 61) 0, transparent 59%);
}

.card {
  box-shadow: 0px 2px 3px 3px #2aa25b;
}

.card:hover {
  box-shadow: 0px 2px 3px 6px #2aa25b;
  transition: 0.4s easeInOut 0.4s;
}

.modal-glassmorphism {
  background: rgba(0, 0, 0, 0.81);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.6px);
  -webkit-backdrop-filter: blur(7.6px);
  border: 1px solid rgba(0, 0, 0, 0.27);
}

.text-gradient {
  background-color: #fff;
  background-image: radial-gradient(
      at 4% 36%,
      hsla(0, 0%, 100%, 1) 0,
      transparent 53%
    ),
    radial-gradient(at 100% 60%, rgb(27, 27, 27) 0, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.word-gradient {
  background-color: rgb(19, 160, 97);
  background-image: radial-gradient(
      at 4% 36%,
      rgb(255, 255, 255) 0,
      transparent 53%
    ),
    radial-gradient(at 100% 60%, rgb(23, 125, 78) 0, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-item {
  line-height: 40px;
  margin-right: 1rem;
}

.nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
  width: 100%;
  background: #158944;
}

.nav-item .active {
  color: #158944;
  /* border: 1px solid #ffdd40; */
}

.floater {
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media screen and (max-width: 568px) {
.logo-image {
  height: 28px;
}
}


